[submodule "IceT"]
	path = requirement-modules/IceT
	url = git://public.kitware.com/IceT.git
[submodule "libwebsockets"]
	path = requirement-modules/libwebsockets
	url = git://git.libwebsockets.org/libwebsockets
[submodule "alpaka"]
	path = requirement-modules/alpaka
	url = https://github.com/ComputationalRadiationPhysics/alpaka.git
[submodule "requirement-modules/jansson"]
	path = requirement-modules/jansson
	url = https://github.com/akheron/jansson.git
[submodule "requirement-modules/libjpeg-turbo"]
	path = requirement-modules/libjpeg-turbo
	url = git@github.com:libjpeg-turbo/libjpeg-turbo.git
[submodule "requirement-modules/gstreamer"]
	path = requirement-modules/gstreamer
	url = git://anongit.freedesktop.org/gstreamer/gstreamer
[submodule "requirement-modules/gst-plugins-base"]
	path = requirement-modules/gst-plugins-base
	url = git://anongit.freedesktop.org/gstreamer/gst-plugins-base
[submodule "requirement-modules/gst-plugins-good"]
	path = requirement-modules/gst-plugins-good
	url = git://anongit.freedesktop.org/gstreamer/gst-plugins-good
